.leaflet-default-icon-path {
  background-image: url(/images/marker-icon.png);
}

.leaflet-default-shadow-path {
  background-image: url(/images/marker-shadow.png);
}

.leaflet-control-layers-toggle {
  background-image: url(/images/layers.png);
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(/images/layers-2x.png);
}

.leaflet-control-zoom-in {
  background-image: url(/images/spritesheet.png);
}

.leaflet-control-zoom-out {
  background-image: url(/images/spritesheet.png);
}

.leaflet-control-attribution {
  background-image: url(/images/spritesheet.svg);
} 