/* Leaflet styles */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-control-layers-toggle {
  width: 36px;
  height: 36px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

.leaflet-default-icon-path {
  background-image: url('/images/marker-icon.png');
}

.leaflet-default-shadow-path {
  background-image: url('/images/marker-shadow.png');
}

.leaflet-control-layers-toggle {
  background-image: url('/images/layers.png');
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('/images/layers-2x.png');
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

.leaflet-control-layers label {
  display: block;
  font-size: 13px;
  font-size: 1.08333em;
}

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

.leaflet-control-zoom-in {
  background-image: url(/images/spritesheet.png);
}

.leaflet-control-zoom-out {
  background-image: url(/images/spritesheet.png);
}

.leaflet-control-attribution {
  background-image: url(/images/spritesheet.svg);
} 